.data-source-wrap {
  .el-input__inner {
    width: 100%;
  }
  .filter-input .el-input__inner {
    width: 200px;
  }
  .dsItem {
    height: 116px;
  }
  .card-list {
    margin: 0 10px 10px;
    .card-title {
      margin-top: 8px;
      padding: 0 16px;
      height: 40px;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 40px;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      color: #4e5054;
    }
    .card-type {
      margin: 12px 0;
      padding: 0 16px;
      height: 18px;
      line-height: 18px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 13px;
      color: #7c8496;
    }
    .card-button {
      display: flex;
      width: 100%;
      background-color: #f6f8fb;
      height: 35px;
      justify-content: space-evenly;
      align-items: center;
      .btn-col {
        width: 100%;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #7c8496;
        line-height: 22px;
        cursor: pointer;
        position: relative;
        span {
          display: inline-block;
          width: 100%;
          text-align: center;
        }
        &:hover {
          color: #1183FF;
        }
      }
      .btn-disabled {
        &:hover {
          color: #7c8496;
          cursor: not-allowed;
        }
      }
      .btn-col::after {
        position: absolute;
        top: 3px;
        content: '';
        width: 1px;
        height: 16px;
        background: #e1e2e3;
      }
      .btn-col:last-of-type::after {
        display: none;
      }
    }
  }
  .add-card {
    margin: 0 10px 10px;
    height: 117px;
    line-height: 117px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    .modal {
      display: none;
      width: 100%;
      height: 117px;
      position: absolute;
      background: rgba(8, 8, 8, 0.15);
      color: #1183FF;
      top: 0;
      left: 0;
    }
    &:hover {
      span {
        display: none;
      }
      .modal {
        display: block;
      }
    }
  }
  .searchInput{
    width: 100%;
  }
  .dsFontImage {
    width: 150px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: rgba(33, 139, 255, 0.7);
    color: #fff;
    font-weight: bold;
    font-size: 22px;
  }
  .FontIcon {
    height: 36px;
    width: 100%;
    line-height: 36px;
    text-align: center;
    margin: 0 auto;
    // border-radius: 7px;
    background: rgba(33, 139, 255, 0.7);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }
  /deep/ .el-button.item  {
    border-width: 0;
    &:hover, &:focus {
      outline: none;
    }
  }
  .dsType {
    border: 1px solid #ccc;
  }
  .dsName {
    font-size: 14px;
  }
}
.el-dialog {
  .bs-container {
    max-height: calc(90vh - 236px);
    .el-table {
      max-height: calc(90vh - 340px);
    }
    /deep/ .ztree {
      max-height: calc(90vh - 325px) !important;
    }
  }
}
