{
  "plugins": [
    [
      "component",
      {
        "libraryName": "data-room-ui",
        "styleLibraryName": false
      }
    ]
  ],
  "env": {
    "development":{
      // 将import方法转成require()，且是动态的
      "plugins":["dynamic-import-node"]
    }
  }
}